
/build/
/build-debug/
/build-release/
/cmake-build-*/
/out/
/bin/
/obj/
/lib/


*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.exe
*.out




.ninja_deps
.ninja_log

.vscode/
.vscode-test/


.idea/
*.iml


.DS_Store
Thumbs.db


__pycache__/
*.pyc
*.pyo
*.pyd



*.log
*.tmp


